<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- this will allow us to hide base_url and only pull it during the code execution -->
    <add key="base_url" value="http://api.steampowered.com/"/>
    <add key="api_key" value="EFD824255F21CAFD64F82CC5759B4C8C"/>
    <add key="url_access_mod" value="?key="/>
  </appSettings>
</configuration>
